* {
    margin: 0;
    border: 0
}

body {
 font-family: 'Zhi Mang Xing', cursive;
}

h1, h2, h3, h4, h5, h6 {
    color: firebrick;
    text-align: center;
    letter-spacing: 12px

}

#header {
    background-color: aqua;
}

.section {
  background: linear-gradient(red, blue)  
}

#section1 {

    background-color: azure;
}

#block {
    display: block;
}

#section2 {

    background-color: red;
}